{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
	<button id="show_log_button" data-toggle="tooltip" title="{{ button_show_error_log }}" class="btn btn-primary">{{ button_show_error_log }}</button>
	<button id="verify_settings_button" data-toggle="tooltip" title="{{ button_verify_settings }}" class="btn btn-primary"><i class="fa fa-play"></i></button>

        <button type="submit" form="form-bluesnap" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      		<button type="button" class="close" data-dismiss="alert">&times;</button>
    	</div>
    {% endif %}
    {% if error_warning %} 
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
      </div>
      <div class="panel-body">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab-settings">Settings</a></li>
		<li><a data-toggle="tab" href="#tab-transactions">Transactions</a></li>
		<li><a data-toggle="tab" href="#tab-traces">Traces</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab-settings">
			{{ text_welcome }}
		        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-bluesnap" class="form-horizontal">
			  <div class="form-group required">
		            <label class="col-sm-2 control-label" for="input-mode">{{ entry_mode }}</label>
		            <div class="col-sm-10">
				<select name="payment_bluesnap_mode" id="input-mode" class="form-control">
					<option value="production" {% if payment_bluesnap_mode == "production" %} selected='selected' {% endif %}>{{ text_mode_production }}</option>
					<option value="sandbox" {% if payment_bluesnap_mode == "sandbox" %}  selected='selected' {% endif %}>{{ text_mode_sandbox }}</option>
				</select>
		            </div>
		          </div>
		  	  <div class="form-group required">
		            <label class="col-sm-2 control-label" for="input-username"><span data-toggle="tooltip" title="{{ help_username }}">{{ entry_username }}</span></label>
		            <div class="col-sm-10">
		              <input type="text" name="payment_bluesnap_username" value="{{ payment_bluesnap_username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control" />
		              {% if error_username %}
						<div class="text-danger">{{ error_username }}</div>
		              {% endif %}
		            </div>
		          </div>
		  	  <div class="form-group required">
		            <label class="col-sm-2 control-label" for="input-password"><span data-toggle="tooltip" title="{{ help_password }}">{{ entry_password }}</span></label>
		            <div class="col-sm-10">
		              <input type="text" name="payment_bluesnap_password" value="{{ payment_bluesnap_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
		              {% if error_password %}
		              	<div class="text-danger">{{ error_password }}</div>
		              {% endif %} 
		            </div>
		          </div>
		          <div class="form-group required">
		            <label class="col-sm-2 control-label" for="input-description_prefix"><span data-toggle="tooltip" title="{{ help_description_prefix }}">{{ entry_description_prefix }}</span></label>
		            <div class="col-sm-10">
		              <input type="text" name="payment_bluesnap_description_prefix" value="{{ payment_bluesnap_description_prefix }}" placeholder="{{ entry_description_prefix }}" id="input-description_prefix" class="form-control" />
		              {% if error_description_prefix %}
		              	<div class="text-danger">{{ error_description_prefix }}</div>
		              {% endif %} 
		            </div>
		          </div>
			  <div class="form-group required">
		            <label class="col-sm-2 control-label" for="input-server_ip"><span data-toggle="tooltip" title="{{ help_server_ip }}">{{ entry_server_ip }}</span></label>
		            <div class="col-sm-10">
				<input type="text" name="payment_bluesnap_server_ip" value="{{ payment_bluesnap_server_ip }}" disabled="disabled" placeholder="{{ entry_server_ip }}" id="input-server_ip" class="form-control" />
		            </div>
		          </div>
		   	  <div class="form-group required">
		            <label class="col-sm-2 control-label" for="input-debug_enabled">{{ entry_debug_enabled }}</label>
		            <div class="col-sm-10">
				<div class="col-sm-10">
		                    <label class="radio-inline">
		                      {% if payment_bluesnap_debug_enabled %}
			                      <input type="radio" name="payment_bluesnap_debug_enabled" value="1" checked="checked" />
		        	              {{ text_yes }}
		                      {% else %} 
			                      <input type="radio" name="payment_bluesnap_debug_enabled" value="1" />
			                      {{ text_yes }}
                		      {% endif %} 
		                    </label>
		                    <label class="radio-inline">
		                      {% if not payment_bluesnap_debug_enabled %}
			                      <input type="radio" name="payment_bluesnap_debug_enabled" value="0" checked="checked"/>
			                      {{ text_no }}
		                      {% else %}
			                      <input type="radio" name="payment_bluesnap_debug_enabled" value="0"  />
			                      {{ text_no }}
		                      {% endif %}
		                    </label>
				</div>
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
		            <div class="col-sm-10">
		              <input type="text" name="payment_bluesnap_total" value="{{ payment_bluesnap_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
		            <div class="col-sm-10">
       			       <select name="payment_bluesnap_order_status_id" id="input-order-status" class="form-control">
		                {% for order_status in order_statuses %}
			                {% if order_status.order_status_id == payment_bluesnap_order_status_id %}
				                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
		        	        {% else %}
                				<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
			                {% endif %}
		                {% endfor %}
		              </select>
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
		            <div class="col-sm-10">
		              <select name="payment_bluesnap_geo_zone_id" id="input-geo-zone" class="form-control">
                		<option value="0">{{ text_all_zones }}</option>
		                {% for geo_zone in geo_zones %}
			                {% if geo_zone.geo_zone_id == payment_bluesnap_geo_zone_id %}
			                	<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
		                	{% else %}
       					         <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
			                {% endif %}
		                {% endfor %}
        		      </select>
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
		            <div class="col-sm-10">
		              <select name="payment_bluesnap_status" id="input-status" class="form-control">
		                {% if payment_bluesnap_status %}
			                <option value="1" selected="selected">{{ text_enabled }}</option>
		        	        <option value="0">{{ text_disabled }}</option>
		                {% else %}
			                <option value="1">{{ text_enabled }}</option>
			                <option value="0" selected="selected">{{ text_disabled }}</option>
		                {% endif %} 
		              </select>
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
		            <div class="col-sm-10">
		              <input type="text" name="payment_bluesnap_sort_order" value="{{ payment_bluesnap_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
		            </div>
		          </div>
		        </form>
	      	</div>
		<div class="tab-pane" id="tab-transactions">
			<div class="well">
			  <div class="row">
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="control-label" for="input-order-id">{{ entry_order_id }}</label>
					<input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
				  </div>
				  <div class="form-group">
					<label class="control-label" for="input-outcome">{{ entry_outcome }}</label>
					<select name="filter_result_code" id="input-result_code" class="form-control">
						<option value="" {%if filter_result_code|length == 0 %} selected='selected' {% endif %}></option>
						<option value="0" {% if filter_result_code == '0' %} selected="selected" {% endif %}>0 {{ text_result_code_success}})</option>
						<option value="1" {% if filter_result_code == '1' %} selected="selected" {% endif %}>1 {{ text_result_code_failure }})</option>
					</select>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="control-label" for="input-total">{{ entry_total }}</label>
					<input type="text" name="filter_total" value="{{ filter_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
					<div class="input-group date">
					  <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
					  <span class="input-group-btn">
					  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					  </span></div>
				  </div>
				  <div class="form-group">
					<label class="control-label" for="input-remote_ip">{{ entry_remote_ip }}</label>
					<input type="text" name="filter_remote_ip" value="{{ filter_remote_ip }}" placeholder="{{ entry_remote_ip }}" id="input-remote_ip" class="form-control" />
				  </div>
				  <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
				</div>
			  </div>
			</div>
			<form method="post" enctype="multipart/form-data" id="form-order">
			  <div class="table-responsive">
				<table class="table table-bordered table-hover">
				  <thead>
					<tr>
					  <td class="text-right">{% if sort == 'order_id' %}
							<a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_order_id }}</a>
						{% else %}
							<a href="{{ sort_order }}">{{ column_order_id }}</a>
						{% endif %}</td>
					  <td class="text-left">{% if sort == 'result_code' %}
							<a href="{{ sort_outcome }}" class="{{ order|lower }}">{{ column_outcome }}</a>
						{% else %}
							<a href="{{ sort_outcome }}">{{ column_outcome }}</a>
						{% endif %}</td>
					  <td class="text-right">{% if sort == 'amount' %}
							<a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a>
						{% else %}
							<a href="{{ sort_total }}">{{ column_total }}</a>
						{% endif %}</td>
					  <td class="text-left">{% if sort == 'date_added' %}
							<a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
						{% else %}
							<a href="{{ sort_date_added }}">{{ column_date_added }}</a>
						{% endif %}</td>
					  <td class="text-left">{% if sort == 'remote_ip' %}
							<a href="{{ sort_remote_ip }}" class="{{ order|lower }}">{{ column_remote_ip }}</a>
						{% else %}
							<a href="{{ sort_remote_ip }}">{{ column_remote_ip }}</a>
						{% endif %}</td>
					  <td class="text-right">{{ column_action }}</td>
					</tr>
				  </thead>
				  <tbody>
					{% if entries %}
						{% for entry in entries %}
							<tr>
							  <td class="text-right">{{ entry.order_id }}</td>
							  <td class="text-left">{{ entry.status }}</td>
							  <td class="text-right">{{ entry.total }}</td>
							  <td class="text-left">{{ entry.date_added }}</td>
							  <td class="text-left">{{ entry.remote_ip }}</td>
							  <td class="text-right"><a data-bluesnap_audit_id="{{ entry.bluesnap_audit_id }}" data-audit_viewer_url="{{ entry.view }}" data-toggle="tooltip" title="{{ button_view }}" class="show_audit_log btn btn-info"><i class="fa fa-eye"></i></a>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
						  <td class="text-center" colspan="6">{{ text_no_results }}</td>
						</tr>
					{% endif %}
				  </tbody>
				</table>
			  </div>
			</form>
			<div class="row">
			  <div class="col-sm-6 text-left">{{ pagination }}</div>
			  <div class="col-sm-6 text-right">{{ results }}</div>
			</div>

<div id="auditViewerModal" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title" id="auditviewer-modal-title"></h4>
		</div>
		<div class="modal-body" id="auditviewer-modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal">{{ button_modal_popup_close }}</a>
		</div>
	</div> 
   </div>
</div> 

                </div>
		<div class="tab-pane" id="tab-traces">





	<form method="post" enctype="multipart/form-data" id="form-order">
	  <div class="table-responsive">
		<table class="table table-bordered table-hover">
		<thead>
                                        <tr>
                                          <td class="text-right">
                                                        <a href="javascript:void();">{{ auditdata.column_trace_id }}</a></td>
                                          <td class="text-left">
                                                        <a href="javascript:void();">{{ auditdata.column_outcome }}</a></td>
                                          <td class="text-left">
                                                        <a href="javascript:void();">{{ auditdata.column_date_added }}</a></td>
                                          <td class="text-left">
                                                        <a href="javascript:void();">{{ auditdata.column_remote_ip }}</a></td>
                                          <td class="text-right">{{ auditdata.column_action }}</td>
                                        </tr>
                                  </thead>
		 		<tbody>
                                        {% if auditdata.entries %}
                                                {% for entry in auditdata.entries %}
                                                        <tr>
                                                          <td class="text-right">{{ entry.bluesnap_audit_id }}</td>
                                                          <td class="text-left">{{ entry.status }}</td>
                                                          <td class="text-left">{{ entry.date_added }}</td>
                                                          <td class="text-left">{{ entry.remote_ip }}</td>
                                                          <td class="text-right"><a data-bluesnap_hosted_audit_id="{{ entry.bluesnap_audit_id }}" data-audit_hosted_viewer_url="{{ entry.view }}" data-toggle="tooltip" title="{{ button_view }}" class="show_audit_hosted_log btn btn-info"><i class="fa fa-eye"></i></a>
                                                        </tr>
                                                {% endfor %}
                                        {% else %}
                                                <tr>
                                                  <td class="text-center" colspan="6">{{ auditdata.text_no_results }}</td>
                                                </tr>
                                        {% endif %}
                                  </tbody>
		</table>
	  </div>
	</form>
	<div class="row">
	  <div class="col-sm-6 text-left">{{ auditdata.pagination }}</div>
          <div class="col-sm-6 text-right">{{ auditdata.results }}</div>
	</div>

	<div id="auditHostedViewerModal" class="modal fade" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" id="audithostedviewer-modal-title"></h4>
			</div>
			<div class="modal-body" id="audithostedviewer-modal-body">
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
			</div>
		</div> 
	   </div>
	</div>
	</div></div>
			<!-- Modal -->
			<div class="modal fade" id="errorModal"  aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="errortitle"></h4>
				      </div>
				      <div class="modal-body" id="errBody"></div>
				      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>



		
    </div>
  </div>
</div>


<style>

.modal-body {
    max-height:500px;
    overflow:auto;
}
</style>

<script type="text/javascript"><!--
//alert(window.location.href);
if(window.location.href.indexOf("hosted") != -1){
    //alert(" found");
	//$('#tab-traces').trigger('click');
	//window.location.replace("/#tab-tarces");
}
$(".show_audit_log").on("click", function(e) { 
	var bluesnap_audit_id= $(this).data("bluesnap_audit_id");
	$("#auditviewer-modal-title").html("{{ modal_popup_title}} " + bluesnap_audit_id);
	var html = "<table class='table table-hover'><thead><tr><th>Name</th><th>Value</th></tr></thead><tbody>";
	$.ajax({
		type: 'POST',
		url: 'index.php?route=extension/payment/bluesnap/get_audit_entry&user_token={{ user_token }}',
		async: false,
		data: { bluesnap_audit_id: bluesnap_audit_id },
                success: function(data) {
			if (data.result_code != 0) {
				alert(data.result_msg);
			} else {
				$.each(data.bluesnap_audit_record , function(key, value) {
					html += "<tr><td>" + key + "</td><td style='max-width:600px;overflow-x:auto;'><pre>"+ value +"</pre></td></tr>";
				});
			}
          	},
        });
	html += "</tbody></table>";
	$("#auditviewer-modal-body").html(html);
	$('#auditViewerModal').modal('show');
});

$(".show_audit_hosted_log").on("click", function(e) {
        var bluesnap_hosted_fields_audit_id= $(this).data("bluesnap_hosted_audit_id");
        $("#audithostedviewer-modal-title").html("{{ auditdata.modal_hosted_popup_title}} " + bluesnap_hosted_fields_audit_id);
        var html = "<table class='table table-hover'><thead><tr><th>Name</th><th>Value</th></tr></thead><tbody>";
        $.ajax({
                type: 'POST',
                url: 'index.php?route=extension/payment/bluesnap/get_hosted_audit_entry&user_token={{ user_token }}',
                async: false,
                data: { bluesnap_hosted_fields_audit_id: bluesnap_hosted_fields_audit_id },
                success: function(data) {console.log("data is here",data);
                        if (data.result_code != 0) {
                                alert(data.result_msg);
                        } else {
                                $.each(data.bluesnap_audit_record , function(key, value) {
                                		if(key == 'curl_reply'){
											value = value.replace(/(<([^>]+)>)/ig,"");
										}
                                        html += "<tr><td>" + key + "</td><td style='max-width:600px;overflow-x:auto;'><pre>"+ value +"</pre></td></tr>";
                                });
                        }
                },
        });
        html += "</tbody></table>";
        $("#audithostedviewer-modal-body").html(html);
        $('#auditHostedViewerModal').modal('show');
});

$('#button-filter').on('click', function() {
	url = 'index.php?route=extension/payment/bluesnap&user_token={{ user_token }}';
	
	var filter_order_id = $('input[name=\'filter_order_id\']').val();
	
	if (filter_order_id) {
		url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
	}
	
	var filter_result_code = $('#input-result_code').val();
	
	if (filter_result_code) {
		url += '&filter_result_code=' + encodeURIComponent(filter_result_code);
	}

	var filter_total = $('input[name=\'filter_total\']').val();

	if (filter_total) {
		url += '&filter_total=' + encodeURIComponent(filter_total);
	}	
	
	var filter_date_added = $('input[name=\'filter_date_added\']').val();
	
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}
	
	var filter_remote_ip = $('input[name=\'filter_remote_ip\']').val();
	
	if (filter_remote_ip) {
		url += '&filter_remote_ip=' + encodeURIComponent(filter_remote_ip);
	}
	location = url;
});
//--></script> 
  <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script>

<script>
$("#verify_settings_button").on("click", function() {
	var mode = $("#input-mode").val();
	var username = $("#input-username").val();
	var password = $("#input-password").val();
	$("#verify_settings_button i")
		.removeClass("fa-play")
		.addClass("fa-circle-o-notch").addClass("fa-spin")
		.attr("disabled", "disabled")
	;
	$.ajax({
		type: 'POST',
        url: 'index.php?route=extension/payment/bluesnap/verify_settings&user_token={{ user_token }}',
        sync: false,
        data : { mode : mode, username : username, password : password }, 
        success: function(data) {
        	if(data.result_msg==undefined)
        	{
        		alert('Your session has been expired. Please login again!!');
        		window.location.href="index.php?route=common/login";
        	}else{
			if(data.result_code==1){
				var res = data.result_msg.split("=======");
				$("#errBody").html(res[1]);
				$("#errortitle").html(res[0]+" "+res[2]);
				$('#errorModal').modal('show');
			}else{
				alert(data.result_msg);
			}
		}
	},
		complete: function() {
			$("#verify_settings_button i")
				.removeClass("fa-circle-o-notch").removeClass("fa-spin")
				.addClass("fa-play")
				.removeAttr("disabled")
			;
		}
	});
});

$("#input-mode").on("change", function(){
	//var tt='{{settingdata.payment_bluesnap_production_username}}';console.log(tt);
	if($("#input-mode").val()=='production'){
		$("#input-username").val('{{settingdata.payment_bluesnap_production_username}}');
		$("#input-password").val('{{settingdata.payment_bluesnap_production_password}}');
	}else{
		$("#input-username").val('{{settingdata.payment_bluesnap_username}}');
                $("#input-password").val('{{settingdata.payment_bluesnap_password}}');
	}

});

$("#show_log_button").click(function(){
	window.open('index.php?route=tool/log&user_token={{ user_token }}', '_blank');
});
</script>
{{ footer }}
